body {
    font-family: 'Arial';
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-container {
    margin: 20px auto;
    width: 90%;
    overflow-x: auto;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    text-align: center;
}