.blue--btn {
    width: 160px;
    height: 54px;
    background-color: #0FA9FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.2s linear;
    user-select: none;
    text-transform: uppercase;
}

.blue--btn:hover {
    background-color: #21abfc;
    box-shadow: 0px 0px 25px -12px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition: all 0.15s linear;
}