.login--container, .register--container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

.login--bg {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/background.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
    z-index: -1;
}

.login--wrapper, .register--wrapper {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
}

.register--wrapper {
    width: 700px;
}



.sign--btn {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 15px 0 0;
    user-select: none;
    padding-bottom: 3px;
    transition: all 0.4s ease;
}

.sign--btn:hover {
    cursor: pointer;
    color: #eeeded;
    transition: all 0.4s ease;
}

.login--form {
    margin: 50px 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.register--form {
    margin: 50px 30px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}


.login--text{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    margin: 25px 0 5px 0;
    user-select: none;
}

.login--text:nth-child(1){
    margin: auto 0 5px 0;
}

.login--input {
    background-color: rgba(15, 169, 255, 0.2);
    box-shadow: 0px 0px 49px -30px rgba(66, 68, 90, 0.8);
    border: none;
    border-bottom: 2px solid rgba(15, 169, 255, 1);
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;
    transition: 0.3s;
    color: white;
    transition: all 0.2s ease;
    width: 100%;
}

.login--input::placeholder {
    color: rgb(192, 192, 192);
}

.login--input:focus { 
    outline: none;
    border-bottom: 2px solid rgba(15, 169, 255, 1);
    background-color: rgba(15, 169, 255, 0.3);
    box-shadow: 0px 0px 49px -30px rgba(66, 68, 90, 1);
}

.login--active{
    color: #fff;
    border-bottom: 2px solid rgba(15, 169, 255, 0.7);
}

.login--not--active{
    color: rgba(255, 255, 255, 0.755);
    font-weight: 400;
}

.login--btn, .register--btn {
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgba(15, 169, 255, 0.7);
    background: rgba(15, 169, 255, 0.8);
    text-transform: uppercase;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 13px;
    color: white;
    box-shadow: 0px 0px 49px -30px rgba(66, 68, 90, 0.8);
    transition: all 0.2s ease;
    user-select: none;
    margin-top: 40px;
}

.register--btn {
    grid-column: span 2; 
    margin: 40px auto 0px auto;
}

.login--btn:hover {
    background: rgba(15, 169, 255, 0.7);
    cursor: pointer;
    border-bottom: 1px solid rgba(15, 169, 255, 0.5);;
    box-shadow: 0px 0px 80px -30px rgba(66, 68, 90, 1);
}

.login--logged-in-text{
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: 450;
}


.register--error-message{
    color: rgb(130, 0, 0);
    font-size: 16px;
    font-weight: 500;
    margin:0;

}

@media only screen and (max-width: 720px) {   
    .register--wrapper {
        width: 100vw;
        height: 500px;
    }

    .register--form {
        margin: 30px 15px;
        width: 90%;
        gap: 10px;
    }

    .login--btn {
        width: 100%;
    }

    
}

@media only screen and (max-width: 500px) {   
    .login--wrapper {
        width: 100vw;
    }

    .login--form {
        margin: 40px 15px;
        width: 90%;
    }
}
