.navbar--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: relative;
}

.home--link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #FFF;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    user-select: none;
    z-index: 5;
}

.home--link:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: all 0.2s ease;
}
