.cardWrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards {
    margin-top: 30px;
}

.route--info {
    margin-top: 10px;
}

.route--info > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
    gap: 20px;
    text-transform: uppercase;
}


.routeCardBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 7px;
    align-items: left;
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
    user-select: none;
}

.routeCardHeaders{
    color:white;
    text-decoration: none;
    font-size: 14px;
}

.routeCardDetails{
    color:white;
    font-size: 20px;
    display: flex;
    align-items: center;
}


.routeCard{
    width: 50rem;
    margin: 7px;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    align-self: center;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.routeCard--user_dashboard{
    width:70rem
}

.routeCardBodyContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.routeDetails{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.noRouteFound{
    margin:20px;
    border-color: black;
    width: 50rem;
    border-width: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self:center;
    border-radius: 7px;

}
#tom{
    width:30rem;
    align-self: center;
}

#noRoutesText{
    font-size: 30px;
    text-decoration: underline;
}

.backgroundBottom{
    display: flex;
    width:100%;
    justify-content: center;
}

@media only screen and (max-width: 860px) {
    .routeCard{
        width: 90vw;
    }
}

@media only screen and (max-width: 550px) {
    .routeCardBodyContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .book--btn {
        width: 100%;
        grid-column: span 3;
    }
}