.user--dashboard--container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user--dashboard--greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.user--dashboard--greeting > h1 {
    font-size: 34px;
    font-weight: 800;
}


.tickets--container {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.tab {
    width: 50%;
    text-align: center;
    user-select: none;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0;
}

.tab:hover {
    cursor: pointer;
    background: rgb(243, 243, 243);
}

.active {
    border-bottom: 1px solid black;
}

.user--dashboard--pagination {
    margin: 30px auto;
}

@media only screen and (max-width: 770px) {
    .tickets--container {
        width: 100vw;
        /* background-color: antiquewhite; */
    }

    .tabs {
        width: 90%;
    }

    .tab {
        font-size: 20px;
    }
}

@media only screen and (max-width: 460px) {
    .user--dashboard--greeting > h1 {
        font-size: 24px;
    }

    .user--dashboard--greeting > h2 {
        font-size: 20px;
    }

    .tabs {
        margin-bottom: 0px;
    }

    .tab:hover{
        background-color: #fff;
    }

    .tab {
        font-size: 14px;
    }

    .user--dashboard--pagination {
        margin: 10px auto;
    }
}